# 环境变量配置
PORT=1801
OPEN_KEY=your_open_key

# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=chat-bot
DB_PASSWORD=your_password
DB_NAME=chat-bot

# 钉钉机器人
DINGTALK_ADMIN_ID=your_dingtalk_admin_id
DINGTALK_CLIENT_ID=your_dingtalk_client_id
DINGTALK_CLIENT_SECRET=your_dingtalk_client_secret

# 豆包Seed API 密钥
SEED_API_KEY=your_seed_api_key

# 百度API 密钥
BAIDU_API_KEY=your_baidu_api_key